
    <h1> Add task page </h1>

    <form method="POST">
        <input type="text" name="input" class="form-control">
        <input type="submit" class="btn btn-primary">
    </form>

    {{#extend "title"}}
        Add task
    {{/extend}}